body{
    margin: 0px;
    background-color:#EDEEEF;
}
#navbar{
	justify-content: center;
	overflow:hidden;
	box-sizing: border-box;
	color: white;
	background-color: #8e806a;
    padding: 13px 30px;
}
#navbar img{
	float: left;
	display: block;
	color: white;
	padding: 0px 100px 0px 0px;
}
#navbar a{
	font-family: arial;
	font-size: 40px;
	float: left;
	display: block;
	color: white;
	text-align: center;
	padding: 13px 50px;
	text-decoration: none;
}
#navbar a.right{
	float: right;
	padding: 13px 20px;
}
.search{
    color: black;
    display: block;
    float: left;
    padding: 24px 20px;
}
#filter{
    width: 115px; 
    border-radius: 5px;
    float: left;
    padding: 8px;
}
#txtSearch{
    float: left;
    width: 170px;
    padding: 14px;
}
#body{
    justify-content: center;
    padding-bottom: 1000px;
}

#buku1{
    text-align: center;
    position: absolute;
    top: 780px;
    left: 80px;
    width: 400px;
    height: 750px;
    padding: 20px 0px 0px 0px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 20px grey;
}
#buku1 h1{
    font-size: 25px;
    font-weight:bold;
}
#buku2{
    text-align: center;
    position: absolute;
    top: 780px;
    left: 570px;
    width: 400px;
    height: 750px;
    padding: 20px 0px 0px 0px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 20px grey;
}
#buku2 h1{
    font-size: 25px;
    font-weight:bold;
}
#buku3{
    text-align: center;
    position: absolute;
    top: 780px;
    left: 1050px;
    width: 400px;
    height: 750px;
    padding: 20px 0px 0px 0px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 20px grey;
}
#buku3 h1{
    font-size: 25px;
    font-weight:bold;
}
#buku4{
    text-align: center;
    position: absolute;
    top: 1580px;
    left: 80px;
    width: 400px;
    height: 750px;
    padding: 20px 0px 0px 0px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 20px grey;
}
#buku4 h1{
    font-size: 25px;
    font-weight:bold;
}
#buku5{
    text-align: center;
    position: absolute;
    top: 1580px;
    left: 570px;
    width: 400px;
    height: 750px;
    padding: 20px 0px 0px 0px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 0 20px grey;
}
#buku5 h1{
    font-size: 25px;
    font-weight:bold;
}

#synopsis{
    width: 70%;
    height: 10%;
    font-size: 18px;
    background-color: #b2b2b2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}

input[type=submit] {
    width: 70%;
    height: 10%;
    font-size: 18px;
    background-color: #b2b2b2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}
  
input[type=submit]:hover {
    background-color: grey;
}

footer {
    background-color: #8e806a;
    color: white;
    padding: 32px;
    margin-top: 1100px;
}
  
footer a {
    color: white;
}
  
footer a:hover {
    color: #777;
    text-decoration: none;
}


